/*
Student Name: Dylan GarciaMartinez
File Name: styles.css
Date: 02/21/2022
*/

/*CSS Reset*/
body, header, h1, h3, nav, main, footer, img, div, ul, section, figure, figcaption, video, audio{
    margin: 0;
    padding: 0;
    border: 0;
}

/*Style rules for body and images*/
body{
    background: linear-gradient(#0d0d0d 70%, #202020);
}

img{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

video{
    display: block;
    max-width: 50%;
    height: auto;
    margin: 0 auto 2% auto;
}

#video h2{
    padding: 2% 0 1% 0;
    font-weight: bold;
}

/* Style rules for skip link */
.skip {
    position: absolute;
    left: -999px;
}

.skip:focus {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    top: auto;
    left: auto;
    right: 1px;
    z-index: 1;
}


/*Style rules for all elements*/
*{
    box-sizing: border-box;
}

/*Show mobile class hide desktop class*/
.mobile{
    display: block;
}

.desktop, #menu-links{
    display: none;
}

#form{
    display: none;
}

/*Style rules for header elements*/
header{
    text-align: center;
    color: #fff;
    font-size: 1.50em;
    font-family: 'Arvo', serif;
    margin-top: 50px;
}

/*Style rules for navigation elements*/
nav{
    background-color: #000099;
    top: 0;
}

.mobile-nav a{
    color: #fff;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
    padding: 3%;
    display: block;
}

.mobile-nav a.menu-icon{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

/*Style rule for main elements*/
main{
    color: #fff;
    text-align: center;
    margin: 2em 0em;
    font-family: 'Fredoka', sans-serif;
}

#rc{
    position: relative;
    max-width: 300px;
    max-height: 300px;
    margin: 5px auto;
    border: 5px solid #202020;
    box-shadow: 2px 2px 5px #000099;
    cursor: pointer;
}

#rc:hover {
    transform: translate(10px, 10px);
}

figcaption{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 8% 0%;
    background-color: rgba(32, 32, 32, 0.7);
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

aside{
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: 2px 2px 3px #fff;

}

.email{
    text-decoration: none;
    color: #cc0000;
    font-weight: bold;
}

.round{
    border-radius: 5px;
}

/*Style rules for footer element*/
footer{
    text-align: center;
    font-size: .75em;
    color: #fff;
    background-color: #000099;
    padding: .25em 0em;
}

footer a{
    color: #cc0000;
    text-decoration: none;
    font-weight: bold;
}

.social img{
    display: inline-block;
    padding: 2%;
}

/*Media Query for Tablet*/
@media screen and (min-width: 480px), print{

    /*Hide mobile class, show desktop class*/
    .mobile{
        display: none;
    }

    .desktop{
        display: block;
    }

    /*Style rules for nav*/
    nav li{
        display: inline-block;
        border: none;
        padding: 0 2%;
        
    }

    nav li a:hover{
        background-color: #000;
        color: #000099;
    }

    /*Style rules for main*/
    .grid{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }

    aside{
        grid-column: 1/span 2;
    }

    /* Style rules for footer area */
    footer {
        overflow: auto;
    }

    .contact {
        float: left;
        width: 75%;
    }

    .social {
        float: right;
        width: 25%;
    }
    
}

/*Media Query for Desktop*/
@media screen and (min-width: 1000px),print {

    /*Hide mobile-tab class*/
    .mobile-tab, .mobile-nav{
        display: none;
    }

    #form{
        display: block;
    }

    /* Style rule for header */
    header {
        margin-top: 0;
    }

    /*Style rules for nav*/
    nav ul{
        list-style-type: none;
        text-align: center;
    }
    
    nav li{
        display: inline-block;
        font-family: 'Fredoka', sans-serif;
        border: none;
    }
    
    nav li a{
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        display: block;
        padding: 1em 2em;
    }

    /*Style rules for main*/
    #image{
        float: left;
        margin: 2% 5%;
    }

    #currentclubs, #defunctclubs, #upcomingclubs{
        margin: 1.2% 0;
        padding: 0.7% 0;
    }

    #currentevents, #upcomingevents, #pastevents{
        margin: 4% 0;
        /*padding: 2% 0;*/
    }

    .grid{
        grid-template-columns: auto auto auto;
        grid-gap: 30px;
    }

    aside{
        grid-column: 1/span 3;
    }

    /*Style rules for table*/
    table.club{
        border: 2px solid #000099;
        border-collapse: collapse;
        margin-right: 5%;
        margin-top: 4%;
    }

    table.club th{
        padding: 1% 0;
        background-color: #000099;
    }

    table.club td{
        text-align: left;
        padding: 1% 1.5%;
    }

    tr:nth-child(odd){
        background-color: #202020;
        color: #fff;
    }

    table.event{
        border: 2px solid #000099;
        border-collapse: collapse;
        margin-top: 7%;
        margin-right: 5%;
        table-layout: fixed;
    }

    table.event td{
        text-align: left;
        width: .5%;
        padding: 1% 2%;
    }

    table.event th{
        padding: 1%;
    }

    /*Style rule for footer*/
    footer{
        clear: left;
    }

    /*Style rules for form elements*/
    fieldset, input, select{
        margin-bottom: 2%;
    }

    form{
        width: 25%;
        color: #fff;
        margin: 0 auto;
        font-family: 'Fredoka', sans-serif;
    }

    form #submit{
        margin: 0 auto 2% auto;
        border: none;
        display: block;
        padding: 2%;
        background-color: #000099;
        font-size: 1em;
        border-radius: 10px;
        font-family: 'Fredoka', sans-serif;
        color: #fff;
    }

    input, label{
        display: block;
    }

    h2{
        color: #fff;
        font-weight: bold;
        text-align: center;
    }

    h3{
        color: #fff;
        font-weight: bold;
        text-align: center;
    }

}

/* Desktop viewport animation */
@-webkit-keyframes text-animation {
    0% { font-size: 1em; }
    50% { font-size: 1.50em; }
    100% { font-size: 1em; }
}

@keyframes text-animation {
    0% { font-size: 1em; }
    50% { font-size: 1.50em; }
    100% { font-size: 1em; }
}

figcaption {
    animation-name: text-animation;
    animation-delay: 2s;
    animation-duration: 3s;
    -webkit-animation-name: text-animation;
    -webkit-animation-delay: 2s;
    -webkit-animation-duration: 3s;
}

@media print{

    body{
        background-color: #fff;
        color: #000;
    }   

}